/**/
.loader {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #000;

    z-index: 9999;

    opacity: 1;
    visibility: visible;

    transition:
            opacity 0.5s ease,
            visibility 0.5s ease;
}

.loader.hide {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    width: 60px;
    height: 60px;

    border: 6px solid #787575;
    border-top-color: #1DF1FE;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}