.form__search {
    display: flex;
    height: 70px;
    gap: 15px;
}

.form__search > * {
    background-color: #313131;
    border-radius: 10px;
    border: 1px solid #313131;
}

.form__search-input {
    padding: 0px 30px;
    color: #FFFFFF;
    font-size: 20px;
}

.form__search-button {
    cursor: pointer;
}

.filters .form__search-input{
    background-color: #2A2A2A;
    padding: 0 15px;
    border-radius: 20px;
}

.filters .form__search{
    gap: 12px;
}

.filters .form__search-input{
    /*background-color: #2A2A2A;*/
}

@media (max-width: 769px) {
    .filters .form__search-input{
        height: 45px;
    }
    .filters .form__search-button{
        height: 45px;
        width: 45px;
        border-radius: 50%;
    }
}