.profile-page{
    padding-top: 175px;
}

.profile-grid {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.profile-grid > div {
    max-width: 570px;
    width: 100%;
}

/* левая часть */
.profile-left input {
    background: #1b1b1b;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
    width: 100%;
}

.profile-field {
    margin-bottom: 20px;
}

.field-row {
    display: flex;
    gap: 10px;
}

.field-row button {
    background: #2a2a2a;
    border: none;
    border-radius: 50%;
    width: 40px;
    color: #fff;
    cursor: pointer;
}

/* правая часть */
.stats-box {
    border-radius: 20px;
    overflow: hidden;
}

.stats-box table {
    width: 100%;
    border-collapse: collapse;
}

.stats-box tr:nth-child(odd) {
    background: #313131;
}

.stats-box tr:nth-child(even) {
    background: #1b1b1b;
}

.stats-box td {
    padding: 14px 18px;
}

.stats-box td:last-child {
    text-align: right;
    font-weight: bold;
}

/*btn*/
.logout-btn {
    margin-top: 25px;
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 30px;
    background: #e74c3c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.logout-btn:hover {
    opacity: 0.85;
}

@media (max-width: 1200px) {
    .button-link.ProfileNavigation-link, div.ProfileNavigation-col{
        max-width: 500px;
    }
    .profile-field{
        max-width: 500px;
    }
    .stats-box{
        max-width: 500px;
    }
    .profile-grid > div {
        max-width: 500px;
    }
}

@media (max-width: 1024px) {
    .profile-grid{
        gap: 10px;
    }
    .ProfileNavigation{
        flex-direction: column;
    }
    .button-link.ProfileNavigation-link, div.ProfileNavigation-col{
        max-width: 570px;
    }
    .profile-page{
        padding-top: 150px;
    }
}

@media (max-width: 840px) {
    .profile-grid, .ProfileNavigation{
        align-items: center;
        flex-direction: column;
    }
    .profile-field{
        max-width: 570px;
    }
    .stats-box{
        max-width: 570px;
    }
    .profile-grid > div {
        max-width: 570px;
    }
}

@media (max-width: 769px) {
    .profile-page{
        padding-top: 150px;
    }
}