.exhibitions-page{
    padding-top: 150px;
}

@media (max-width: 1025px) {
    .exhibitions-page{
        padding-top: 100px;
    }
}

@media (max-width: 769px) {
    .exhibitions-page{
        padding-top: 75px;
    }
}