.popup {
    width: 100%;
    height: 100%;
    background-color: #00000050;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}
.popup__container {
    position: absolute;
    max-width: 1112px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1B1B1B;
    overflow-y: scroll;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.popup__top {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: #1B1B1B;
}

.popup__top-title {
    font-size: 36px;
    font-weight: bold;
    padding: 25px;
}

.popup__top-close {
    width: 18px;
    height: 18px;
    align-self: flex-end;
    cursor: pointer;
}
.popup__cards {
    margin-top: 40px;
}

.popup__card {
    display: flex;
    gap: 25px;
    padding: 25px;
}

.popup__image {
    width: 150px;
}

.information {
    display: flex;
    gap: 80px;
    margin-top: 10px;
}

.popup__description {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}
.popup__description-title {
    font-size: 20px;
    font-weight: bold;
}

.information__block {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information__button {
    max-height: 50px;
    align-self: flex-end;
    width: 100%;
}

.active {
    background-color: #000;
}

.close {
    display: none;
}

.open {
    display: block;
}


@media (max-width: 1200px) {
    .popup__container{
        max-width: 1000px;
    }
}

@media (max-width: 1024px) {
    .popup__top{
        padding: 25px;
    }
    .popup__top-title {
        font-size: 28px;
    }
    .popup__container{
        max-width: 740px;
    }
    .popup__cards{
        margin-top: 0;
    }
    .popup__card{
        padding: 15px;
    }
}

@media (max-width: 768px) {
    .popup__container{
        max-width: 600px;
    }

    .popup__description-information{
        gap: 20px;
    }

    .information__button{
        max-width: 100px;
    }
    .popup__description-information .btn{
        padding: 7px 15px;
    }
}


@media (max-width: 650px) {
    .popup__container{
        max-width: 550px;
    }

    .popup__top-title{
        font-size: 24px;
    }

    .popup__description-information{
        gap: 15px;
    }

    .popup__card{
        gap: 15px;
    }

    .popup__image{
        max-width: 100px;
    }

    .information__button{
        max-width: 100px;
    }
    .popup__description-information .btn{
        padding: 5px 15px;
    }
}

@media (max-width: 650px) {
    .popup__container{
        max-width: 550px;
    }

    .popup__description-information{
        gap: 10px;
    }

    .popup__top-title{
        font-size: 22px;
    }

    .popup__description-title {
        font-size: 18px;
    }

    .popup__card{
        gap: 10px;
        font-size: 16px;
    }

    .popup__image{
        max-width: 75px;
    }

    .information__button{
        max-width: 80px;
    }
    .popup__description-information .btn{
        font-size: 16px;
        padding: 5px 10px;
    }
}

@media (max-width: 550px) {
    .popup__container{
        max-width: 350px;
    }

    .popup__description-information{
        gap: 5px;
    }

    .popup__top-title{
        font-size: 20px;
    }

    .popup__description-title {
        font-size: 16px;
    }

    .popup__card{
        gap: 10px;
        font-size: 16px;
    }

    .popup__description-information{
        flex-direction: column;
    }
}