.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.register-left {
    flex: 1;
    max-width: 500px;
    align-self: start;
}

.register-img {
    max-width: 600px;
    width: 100%;
}

.register-step {
    margin: 0 0 60px;
    font-size: 18px;
    opacity: 0.7;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 150px;
}

.register-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.code-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.register-text{
    margin-bottom: 70px;
    text-align: center;
}

.register .section-title{
    margin-bottom: 0;
    max-width: 400px;
    min-height: 72px;
}

@media (max-width: 1280px) {
    .register-img{
        max-width: 500px;
    }
}

@media (max-width: 1180px) {
    .register-img{
        max-width: 450px;
    }

    .register-left {
        max-width: 400px;
    }
}

@media (max-width: 1024px) {
    .register-img{
        max-width: 400px;
    }

    .register-left {
        max-width: 375px;
    }
}

@media (max-width: 800px) {
    .register-right{
        display: none;
    }

    .register-form{
        padding-top: 50px;
    }

    .register-container {
        justify-content: center;
    }

    .register-left {
        max-width: 570px;
    }
}