.footer {
    margin: 50px 0px;
}
.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__content > * {
    margin-bottom: 0px;
}
.footer__logo {
    width: 50px;
}

.footer__list {
    background-color: #313131;
    border-radius: 10px;
    align-items: center;
}

.block {
    display: flex;
    justify-content: center;
}

.footer__nav {
    display: flex;
    gap: 15px;
}

.block__item {
    padding: 14px;
}