.history-page {
    padding: 175px 0 40px;
}

.history-list {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.history-card {
    display: flex;
    gap: 25px;
    padding: 25px;
    background: #1B1B1B;
    border-radius: 10px;
    border: 1px solid #ffffff30;
}

.history-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}

.history-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.history-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.history-info {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.history-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.history-left-inner{
    display: flex;
    gap: 20px;
}

.history-left-inner .btn {
    min-width: 200px;
}

.empty {
    color: #aaa;
    font-size: 18px;
}

.history-info{
    row-gap: 20px;
}
.view-btn {
    margin-top: 15px;
    padding: 10px 18px;
    border: none;
    border-radius: 25px;
    background: #e0c084;
    color: #1b1b1b;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    align-self: flex-start;
}

.view-btn:hover {
    opacity: 0.85;
}

@media (max-width: 1024px) {
    .history-page {
        padding-top: 150px;
    }
}

@media (max-width: 900px) {
    .history-left-inner{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    /*.history-page {*/
    /*    padding-top: 100px;*/
    /*}*/
}

@media (max-width: 500px) {
    .history-card{
        flex-direction: column;
        text-align: center;
    }
    .history-info{
        justify-content: center;
    }
    .history-image{
        margin: 0 auto;
    }
}