.payment-successful{
    display: flex;
    gap: 100px;
    align-items: center;
    padding-top: 150px;
}

.payment-successful-text:last-child {
    padding-top: 20px;
}

.payment-successful-img{
    max-width: 250px;
}

@media (max-width: 769px) {
    .payment-successful{
        padding-top: 120px;
    }
}

@media (max-width: 760px) {
    .payment-successful{
        flex-direction: column;
    }
}