.input-group {
    width: 100%;
}

/* label */
.input-label {
    font-size: 20px;
    font-weight: 300;
    display: block;
    text-align: start;
    margin-left: 30px;
    margin-bottom: 5px;
}

/* input base */
.input-field {
    display: block;
    padding: 15px 25px;
    border-radius: 25px;

    /* 🔥 фиксируем border всегда (ВАЖНО) */
    border: 1px solid #313131;

    outline: none;
    background-color: #313131;
    color: #fff;

    width: 100%;
    min-height: 50px;

    font-size: 20px;

    /* плавность */
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    box-sizing: border-box;
}

/* placeholder */
.input-field::placeholder {
    font-size: 20px;
    color: #888;
}

/* focus */
.input-field:focus {
    border-color: #666;
    box-shadow: 0 0 0 3px rgba(214, 179, 122, 0.15);
}

/* error */
.input-field.input-error {
    border-color: #ff3b3b;
}

/* readonly (визуально) */
.input-field[readonly] {
    opacity: 0.85;
    cursor: default;
}

@media (max-width: 1200px) {
    .input-field{

    }
}