.button-link {
    display: block;
    width: fit-content;

    padding: 12px 15px;
    border-radius: 30px;

    background: #313131;
    color: #fff;

    transition: 0.2s;
    cursor: pointer;
}

.button-link:hover {
    transform: translateY(-2px);
    opacity: 0.85;
}